<h2>All Users</h2>

<!--for add new users  -->
<app-add-user-form [selectedUser]="selectedUser" [users]="users"></app-add-user-form>

<ul class="users">
  <li *ngFor="let user of users"
    [class.selected]="user === selectedUser"
    (click)="onSelect(user)">
    <span class="badge" *ngIf="user.id">{{user.id}}</span>
    <span class="badge" *ngIf="!user.id">id</span>
    <span>{{user.username}}</span>
    <!--添加删除按钮，$event语句是为了阻止点击事件向上冒泡  -->
    <button class="delete" (click)="delete(user); $event.stopPropagation()">x</button>  
  </li>
</ul>

<!--利用属性绑定传递数据，这里的属性user必须在app-user-detail组件中定义过
    这里的属性指的是组件中导出的class UserDetailComponent中的属性，而不是模板变量
    组件也是指令，因此这里的user相当于是指令app-user-detail的属性 -->
 <!-- <app-user-detail [user]="selectedUser"></app-user-detail>  -->

 <div *ngIf="selectedUser">
    <h2>
      This is {{ selectedUser.username | uppercase }}
    </h2>
    <button (click)="gotoDetail()">View Details</button>
 </div>