<div *ngIf="user">
  <h2>{{user.username}} details!</h2>
  <div *ngIf="!loginValid" class="alert alert-danger" role="alert">
    {{tokenErrorMessage}}
  </div>
  <div><label>id: </label>{{user.id}}</div>
  <div>
    <label>name: </label>
    <!--虽然NgModel是一个有效的Angular指令，但它默认情况下却是不可用的。 
      它属于一个可选模块FormsModule。 我们必须选择使用那个模块。
      (在app.module.ts中导入并添加到imports属性中)  -->
     <input type="text" [(ngModel)]="user.username" placeholder="name" /> 
  </div>
  <div>
    <label>Shared Pictures:</label>
    
    <p>check if current login user can edit: {{canEdit}}</p>
    <ul>
      <!--imagesId是一个数组，不能是object  -->
      <li *ngFor="let image of images">
           <img width="300" src="{{image.fileUrl}}" 
                *ngIf="!image.localImage && image.fileUrl"
                (load)="loadOk(image.id)"
                [hidden]="!imagesLoadStatus[image.id]">
            <img width="300" src="{{image.localImage}}" 
                *ngIf="image.localImage"
                (load)="loadOk(image.id)"
                [hidden]="!imagesLoadStatus[image.id]">
           <button [hidden]="!canEdit" class="delete" (click)="deleteImage(image); $event.stopPropagation()">x</button> 
           <p *ngIf="!image.localImage">{{image.fileUrl}}</p>
           <p *ngIf="image.localImage">{{image.localImage}}</p>
        <div *ngIf="!imagesLoadStatus[image.id]" class="loader"></div>
      <!-- <button (click)="getImage(fid)">Test</button> -->
      </li>
    </ul>
  </div>

  <hr>
  <!-- <h3>add new images</h3> -->
  <p [hidden]="canEdit">If you want to upload pictures, please log in!</p>
  <app-upload-image-form *ngIf="canEdit" [user]="user"></app-upload-image-form>

  <hr>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
  
</div>

