<!-- <p>
  upload-image-form works!
</p> -->
<!-- <div>
  <input #newHero (keyup.enter)="addHero(newHero.value); newHero.value='' "
              (blur)="addHero(newHero.value); newHero.value='' ">
  <button (click)="addHero(newHero.value); newHero.value='' ">Add</button>
  <ul><li *ngFor="let hero of heroes">{{hero}}</li></ul>
</div> -->

<div [hidden]="submitted">
  <h2>Upload New Image</h2>
  <form #uploadImageForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- <div class="form-group">
      <label for="id">Image ID</label>
      <input type="text" class="form-control" id="id" required>
    </div> -->
    <div class="form-group">
      <label for="created">Created</label>
      <input type="text" class="form-control" id="created"
      [(ngModel)]="model.created" name="created" #created="ngModel" required>
    </div>
    <div class="form-group">
      <label for="userId">User ID</label>
      <input type="text" class="form-control" id="userId"
      [(ngModel)]="model.userId" name="userId" #userId="ngModel" readonly>
    </div>
    <div class="form-group">
        <label for="des">Description</label>
        <input type="text" class="form-control" id="des"
        [(ngModel)]="model.des" name="des" #des="ngModel">
    </div>

    <div class="form-group">
      <label for="fileUrl">File Url</label>
      <input type="url" class="form-control" id="fileUrl"
      [(ngModel)]="model.fileUrl" name="fileUrl" #fileUrl="ngModel" required>
      <div [hidden]="fileUrl.valid || fileUrl.pristine" 
            class="alert alert-danger">
        File Url is required
      </div>
    </div>
    <div class="form-group">
        <label for="owner">Owner</label>
        <input type="text" class="form-control" id="owner"
        [(ngModel)]="model.owner" name="owner" #owner="ngModel" readonly>
    </div>
    <button type="button" class="btn btn-default" (click)="uploadImageForm.reset(); newImage()">New Image</button>
    <button type="submit" class="btn btn-success" [disabled]="!uploadImageForm.form.valid">Submit</button>
  </form>
</div>

<!-- <div [hidden]="!submitted">
  <p>You have submitted successfully.</p>
</div> -->

<div [hidden]="!submitted">
    <h2>You submitted the following content:</h2>
    <div class="row">
      <div class="col-xs-3">Created</div>
      <div class="col-xs-9  pull-left">{{ model.created }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">User ID</div>
      <div class="col-xs-9 pull-left">{{ model.userId }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Description</div>
      <div class="col-xs-9 pull-left">{{ model.des }}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">File Url</div>
        <div class="col-xs-9 pull-left">{{ model.fileUrl }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Owner</div>
        <div class="col-xs-9 pull-left">{{ model.owner }}</div>
      </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Upload another image</button>
</div>
<!-- TODO: remove this: {{}} -->
<!-- <div>
    {{user.username}}
</div> -->
