<div *ngIf="user">
  <h2>{{user.username}} details!</h2>
  <div><label>id: </label>{{user.id}}</div>
  <div>
    <label>name: </label>
    <!--虽然NgModel是一个有效的Angular指令，但它默认情况下却是不可用的。 
      它属于一个可选模块FormsModule。 我们必须选择使用那个模块。
      (在app.module.ts中导入并添加到imports属性中)  -->
     <input [(ngModel)]="user.username" placeholder="name" /> 
  </div>
  <div>
    <label>Shared Pictures:</label>
    <ul>
      <!--imagesId是一个数组，不能是object  -->
      <li *ngFor="let id of imagesId">
           <img width="300" src="{{imagesUrl[id]}}" 
                *ngIf="imagesUrl[id]"
                (load)="loadOk(id)"
                [hidden]="!imagesLoadStatus[id]">
           <p>{{imagesUrl[id]}}</p>
        <div *ngIf="!imagesLoadStatus[id]" class="loader"></div>
      <!-- <button (click)="getImage(fid)">Test</button> -->
      </li>
    </ul>
  </div>
  
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
  
  <hr>
  <!-- <h3>add new images</h3> -->
  <app-upload-image-form [user]="user"></app-upload-image-form>
</div>